* {
  margin: 0;
  padding: 0;
}

.nav {
  color: #EBEBEB;
  padding: 1em;
}

.nav:hover {
  color: #00FDFF;
  text-decoration: none;
}

.navbar {
  background: #1F7995;
  border-bottom: .25em solid black;
}

.name {
  display: flex;
  justify-content: flex-start;
  font-family: cursive;
  font-size: 2.5em;
  color: gray;
  font-weight: bold;
  /* text-decoration: underline; */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #384A4B;
}

.choices {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.home {
  padding-top: 2em;
  color: #5f6369;
  background-color: #F7F7F7;
}

.page {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: Geneva;
}

.holder {
  display: flex;
  justify-content: center;
}

.brax {
  width: 15em;
  border-radius: 10em;
  margin-bottom: 2em;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
  background-color: #e0e0e0;
}

.icon {
  width: 10em;
}

.resume {
  padding: 1em 0;
  width: 95vw;
  margin: 0;
}

.resume-pos {
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
}

.footer {
  background: #1F7995;
  border-top: .25em solid black;
}

.f-choice {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 2em;
}

.socials {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: .5em;
}

.social {
  height: 3em;
  padding: 0 1em;
  padding-top: .5em;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Geneva;
  color: #EBEBEB;
  padding-top: .5em;
}

.pages {
  padding-bottom: 2em;
}

.about {
  display: flex;
  justify-content: space-between;
  background-color: #e0e0e0;
  font-family: Geneva;
  color: #5f6369;
  
  
}

@media only screen and (max-width: 767px) {
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .about-pic {
    display: flex;
    justify-content: center;
  }
  .choices {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .name {
    display: flex;
    justify-content: center;
  }
  .icon {
    width: 8em;
  }
  .page {
    display: flex;
    justify-content: center;
    padding: 0 3em;
  }
}

.about-info {
  padding: 1em 1.5em;
}

.about-info ul {
  padding-left: 2em;
}

.pic {
  width: 40vw;
  height: 100%;
}